header {
    background-color: rgb(5, 5, 5);
    color: white;
    transition: padding 0.25s;
}
header:hover{
    padding:5px;
    transition: padding 0.25s;
}
body {
    font-family: 'Mohave', sans-serif;
    background-color: rgb(15, 15, 15);
}
main {
    background-color: rgb(25, 25, 25);
    padding: 20px;
}
.finstagram-post {
    margin-bottom: 75px;
}
.finstagram-post .user-info img {
    border-radius: 25%;
}
.user-info {
    color: white;
}
.user-info:hover {
    color: rgb(70, 165, 243);
}
.actions {
    color: white;
}
.comments {
    color: white;
}
a.photo {
    transition: padding 0.25s;
}
a.photo:hover {
    padding:5px;
    transition: padding 0.25s;
}