header {
    background-color: slategray;
    color: #E8FDFF;
}
body {
    font-family: 'Mohave', sans-serif;
    background-color: lightsteelblue;
}
main {
    background-color: lightslategray;
    padding: 20px;
}
.finstagram-post {
    margin-bottom: 75px;
}
.finstagram-post .user-info img {
    border-radius: 25%;
}
.user-info {
    color: white;
}
.user-info:hover {
    color: rgb(70, 165, 243);
}
.actions {
    color: white;
}
.comments {
    color: white;
}
a.photo {
    transition: padding 0.25s;
}
a.photo:hover {
    padding:5px;
    transition: padding 0.25s;
}